<.h1>tealbase Realtime: Multiplayer Edition</.h1>
<h2>Listen to PostgreSQL changes in real-time over WebSockets</h2>
<h2>Presence and Broadcast for multiplayer features</h2>

<div class="my-5">
  <h3 class="font-bold">Tools</h3>
  <ul>
    <li><.link href={Routes.inspector_index_path(@socket, :new)}>🔎 Inspector</.link></li>
    <li><.link href={Routes.status_index_path(@socket, :index)}>🟢 Status</.link></li>
  </ul>
</div>

<div class="my-5">
  <h3 class="font-bold">Links</h3>
  <ul>
    <li><.link href="https://tealbase.com/docs/guides/realtime">📗 Guides</.link></li>
    <li><.link href="https://github.com/tealbase/realtime">💾 Github</.link></li>
    <li><.link href="https://github.com/tealbase/realtime-js">💾 realtime-js</.link></li>
    <li><.link href="https://multiplayer.dev">👾 multiplayer.dev</.link></li>
  </ul>
</div>
